@charset "UTF-8";
.button {
    display: block; /* Hoặc 'flex' nếu bạn cần canh giữa */
    padding: 8px 16px;
    margin-left: 5px;
    background-color: #3a99d8;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.button:hover {
    background-color: #003d7a;
    transform: scale(1.05);
    color: white;
}
